/* --- General --- */

@import url('https://rsms.me/inter/inter.css');

html {
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

:root {
  --border-color: #e6e6e6;

  --background-color: #fafafa;
  --background-elevated-color: #fff;
}

body {
  background-color: var(--background-color);

  padding: 1em 2em;
}

/* --- Specific --- */

/* - Game form - */

#game-form {
  display: flex;
  flex-direction: row;

  gap: 0em 1em;

  max-width: fit-content;

  padding: 1em;

  background-color: var(--background-elevated-color);

  border: 1px solid var(--border-color);
}

#game-form label {
  font-weight: 700;
}

#number-of-players-select,
#score-to-win-input {
  display: block;
  margin-top: 0.75em;
}

/* - Game table - */

#game-table {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#game-table > * + * {
  margin-top: 1em;
  margin-bottom: 1em;
}

.car-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 4em;

  background-color: var(--background-elevated-color);

  border: 1px solid var(--border-color);
}

.car-container > label {
  padding: 1em;
}

.car-lane {
  flex-grow: 1;

  position: relative;

  height: 100%;

  background-image: url('../img/road.png');
  background-size: contain;
  background-repeat: repeat-x;
}

.car {
  z-index: 1;

  position: absolute;
  top: 0%;
  bottom: 0%;

  width: 8em;
  height: auto;
}

.finish-line {
  /* The trick to making the car move to the finish line is having the same width */
  width: 8em;
  height: 100%;

  background-image: url('../img/finish-line.png');
  background-size: cover;
}

/* - Game output - */

#game-output {
  border-collapse: collapse;

  background-color: var(--background-elevated-color);

  border: 1px solid var(--border-color);
}

#game-output > thead > tr > th {
  background-color: var(--background-color);

  border-bottom: 1px solid var(--border-color);
}

#game-output > tbody > tr > td {
  text-align: center;

  border-bottom: 1px solid var(--border-color);
}

#game-output > thead > tr > th,
#game-output > tbody > tr > td {
  padding: 0.5em 1.5em;
}

#game-output > tbody > tr:nth-child(even) {
  background-color: var(--background-color);
}
